# Variables And Data Types

## Numbers
## List
## Tuple
## String
## Dictionary
## Set

In [2]:
# numbers
x= 10
y= 10.3
n=10j
num =5>6

In [3]:
#SET
Myset ={10,20,90}
Myset

{10, 20, 90}

In [20]:
for x in Myset:
    print(x)

10
20
90

In [21]:
Myset.remove(10)

In [22]:
Myset

{20, 90}

In [4]:
# condition statement
val=10
num=20
if val==num:
    print("Equal")
elif val>num:
    print('Grater')
else:
    print("Lower")
print("Done")

Lower
Done

## Identiyty operater
### IS    ISNOT

In [5]:
list1=[10,20,30]
list2=[10,20,30]

In [6]:
x=list1

In [7]:
x is list1

True

In [8]:
list1 is list2

False

In [9]:
list1 is not list2

True

## Membership operator

In [10]:
x in list1

False

In [11]:
list1 in list2

False

In [12]:
10 in list1

True

In [13]:
"banana" in list2

False

In [14]:
list1 ==list2

True

## Bitwise Operator

In [15]:
1010 | 1100

2046

In [16]:
10 >> 2

2

In [17]:
10 & 12

8

In [18]:
10<<2

40

#### Problem Stetement

##### Store the indian world cup squad data for 2019. you should be able to display the data states of any player from the data

In [29]:
import pandas as pd
squad = {
    'Batsman': {
        'Rohit Sharma': {
            'matches': 206,
            'Runs': 9010,
            'Average': 47.4,
            'Highest Score': 264
        },
        'Virat Kohli': {
            'matches': 128,
            'Runs': 5335,
            'Average': 44.62,
            'Highest Score': 260
        }
    },
    'All-rounder': {
        'Vijay Shankar': {
            'matches': 9,
            'Runs': 165,
            'Average': 33.0,
            'Wickets': 2
        },
        'Kedar Jadhav': {
            'matches': 59,
            'Runs': 1655,
            'Average': 43.0,
            'Wickets': 27
        }
    },
    'Wktkeepers': {
        'Doni': {
            'matches': 234,
            'Runs': 9510,
            'Average': 77.4,
            'Highest Score': 300
        },
        'KL Rahul': {
            'matches': 106,
            'Runs': 8010,
            'Average': 37.4,
            'Highest Score': 345
        }
    },
    'Bowlers': {
        'Yuzi Chahal': {
            'matches': 42,
            'Wickets': 72,
            'Average': 50.3,
            'Best': '6/42'
        },
        'Bhuvneshwar Kumar': {
            'matches': 105,
            'Wickets': 112,
            'Average': 35.3,
            'Best': '5/42'
        }
    }
}

# Accessing the data
print(squad['Batsman']['Rohit Sharma']['Runs'])  # Output: 9010
print(squad['All-rounder']['Kedar Jadhav']['Wickets'])  # Output: 27
print(squad['Wktkeepers']['Doni']['Highest Score'])  # Output: 300
print(squad['Bowlers']['Yuzi Chahal']['Best'])  # Output: 6/42


df1=pd.DataFrame(squad['Batsman']['Rohit Sharma'],index=[1])
df2=pd.DataFrame(squad['All-rounder']['Kedar Jadhav'],index=[1])
df3=pd.DataFrame(squad['Wktkeepers']['Doni'],index=[1])
df4=pd.DataFrame(squad['Bowlers']['Yuzi Chahal'],index=[1])

df=pd.DataFrame(squad['Bowlers'])

print(df)
print(df1)

9010
27
300
6/42
        Yuzi Chahal Bhuvneshwar Kumar
matches          42               105
Wickets          72               112
Average        50.3              35.3
Best           6/42              5/42
   matches  Runs  Average  Highest Score
1      206  9010     47.4            264

## Alittle Guessing Game

In [ ]:
import random
n =20
to_be_guessed = int(n *)